@{
    ViewBag.Title = "Se le ha enviado un Correo.!";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Poir favor chequee su correo y confirme la direccion provista.
</p>
<p class="text-danger">
        Se le ha enviado a su correo un Mensaje con un enlace que le permitira confirmar su dirección de correo.
        antes de Ingresar al sistema.
</p>
