* {
    margin: 0px;
    padding:0px;
    
}
footer ul {

    text-decoration: none;
    list-style: none;
}
footer ul li a{
    
    text-decoration: none;
    
}
    footer ul li a:hover {
        text-decoration: none;
        color:white;
    }
body,
#wrap,
conta2 {
    
    height: 100%;
    /*  margin-top: 80px;*/
    min-height: calc(100vh - 150px);
    background-color: #c2185b;
    
    
}

html {
    height: 100%;
    min-height: calc(100vh - 150px);
}

body {
    padding-top: 0px;
    min-height: calc(100% - 150px);
    /*margin-top: -150px; /* Misma altura que el footer en negativo */
    /* padding-bottom: -150px;*/
    
}
#imagen {
    width: 300px;
    height: 300px;
    border: 5px solid gainsboro;
    margin: 2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    background-color:white;
}

body > #wrap {
    height: auto;
    min-height: calc(100vh - 150px);
    
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 15px;
    padding-bottom: 20px; /* Mis altura que el footer */
    background-color: whitesmoke;
    margin-top: 49px;
    
}
header {
    padding-right: 15px;
}
.breadcrumb {
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left:15px;
  
}
h2 {
    padding-right: 15px;
    text-align:center;
    font-weight:700;
    color:darkorange;
    }
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.conta2 {
    border: 1px 1px 1px 1px double solid gray;
    background-color: whitesmoke;
    width: 95%;
    /* POnerlo al 100% para que ocupe toda a panatalla*/
    
}
footer {  
    clear: both;
    color: white;
    background-color: black;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    position: relative;
    margin-top:20px;
    height: 150px; /* Altura del footer */
    text-decoration:none;
  
}
.btn a{
    color:white;
    text-decoration:none;
    
}
.btn {
    margin:8px;
}
#wrap{
 
    height:100%;
}
#adminwrap {
    height: 100%;
   margin-left:20px;
}

.breadcrumb {
    padding-top:30px;
        width:95%;
}


.stepwizard-step p {
    margin-top: 10px;
}
.row {
    padding: 0px;
    margin: 0px;
}
.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.instrucciones {
    text-align: center;
    font-weight: normal;
    font-size: small;
    text-align: center;
}
.titulo1 {
    text-align: center;
    font-weight: normal;
    font-size:large;
    text-align: center;
    color:gainsboro;
}
img {
    max-width: 100%;
    align-content:center;
}
.carousel-control {
    top: 33%;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}


.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 20px;
    font-weight:800;
    line-height: 1.33;
    border-radius: 25px;
    border-width:medium;
    border-color:white;
}
.navbar-form {
    background-color: #e51c23;
    padding: 3px 3px;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.33;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}
.especial{
    font-size:small;
   color:white;
   text-align:center;
}

    .especial .form-group {
        font-size: small;
        font-weight: 100;
        color: #E53935;
    }
.especial  label {
    font-size: small;
    font-weight: 100;
    color: white;
}

.catmenu {
    color: blue;
}

.social  {

    height: 48px;
    width: 48px;
    font-size: small;
}
.bannerImage img{
width:100%;
}


.piato row [class*="col-"] {
    display: table-cell;
    float: none;
}

.piato {
     background-color: aliceblue;
}

    .piato img {width:90%;
                height:50%;
               align-content:center;
               vertical-align:central;
    }


.table {
    margin: 10px 30px 10px 30px;
    width:95%;
}    
#tabla {
    border: 5px solid white;
    border-collapse: separate;
    border-spacing:0 1px;
    width:98%
}
    #tabla tr {
     line-height:3;
     }
    #tabla td {
        padding-left: 15px;
        padding-right: 2px;
          align-content:stretch;
    }
    #tabla th {
        border:0px;
    }
    #tabla menutitulo {
        
        font-size:xx-large;
    }
    #tabla td input{
        width:120px;
        text-align:right;

    }
   
.resaltado {
background-color:lightyellow;
}



   
      
.active {
    color: orangered;
    font-weight: 600;
    font-size: large;
}
.form-horizontal {
    padding-left: 40px;
}

.form-horizontal, form-group, label {
    color: gray;
       font-weight: 600;
}

.list-group {
    line-height: 90%;
    margin: 1px 1px 10px 1px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
   
}
/*------------------( Categorias en Home/Index)-------------------------------------------*/
#Centro {
    
}
    #categoriastitle {
    margin: 0px 0px 5px 0px;
    border-radius: 0px;
    height: 55px;
    border: 0px solid;
    height:35px;
    background-color:darkorange;
   border-radius:10px 10px 0px 0px;
   padding:10px;
   color:white;
   font-weight:600;
   text-align:center;

    
}
#categoriasclose {
    margin: 0px 0px 5px 0px;
    border-radius: 0px;
    height: 55px;
    border: 0px solid;
    height: 35px;
    background-color: darkorange;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.list-group li{

    margin: 0px 0px 5px 0px;
    border-radius: 0px;
    height:45px;
  background-color:white;
  border:0px solid;
}
    .list-group li:hover {
        border-radius: 0px;
        border-left: 15px solid;
        border-bottom:0px solid;
        border-top: 0px solid;
        border-right: 0px solid;
        border-color: darkorange;
    }
/*---------------------------------------------------------------------------------------------------/
/*----------------------------------- Thumnail Imagenes  ------------------------------------------*/

.thumbnail a {
    text-decoration: none;
    background-color: violet;
}

.thumbnail {
    
    line-height: 50%;
    margin: 1px 1px 10px 1px;
    padding: 1px 1px 1px 1px;
    border-radius: 0px;
    border:none;
   
}

    .thumbnail a img {
        height: 130px;
        width: 100%;
    }

    .thumbnail h3 {
        height: 30px;
        font-size: medium;
        font-weight: 600;
    }

    .thumbnail h4 {
        height: 30px;
        font-size: small;
    }

    .thumbnail:hover {
        
        -webkit-box-shadow: 2px 2px 2px 2px #C2C0B4;
        box-shadow: 2px 2px 2px 2px #C2C0B4;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 2s;
        -webkit-animation-iteration-count: 10;
    }

.thumbnail {
    
}

/*---------------------------------------------------------------------------------------------------*/

.logorestaurante {
    
    height: auto;

}
    .logorestaurante img {
        width: 100%;
        height: 170px;
        object-fit: contain;
        padding: 5px 5px 5px 5px;
    }

#slogan {
    font-size: small;
    font-weight: 100;
    color:dimgray;
    padding: 2px 2px 1px 5px;
}
.nombrelocal {
    font-size: large;
    font-weight: 700;
    color: coral;
    padding:5px 5px 7px 5px;
}
.CarritoAd {
    font-size: medium;
    font-weight: 700;
    color: white;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    background-color:darkorange;
    height: 105px;
    border-radius: 5px;
}

.CarritoAd:hover {
    -webkit-box-shadow: 2px 2px 2px 2px #C2C0B4;
    box-shadow: 2px 2px 2px 2px #C2C0B4;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 10;
}
#Carritoimg {
    height: 70px;
    width: 95px;
    margin-left: 50px;
}


.navbar-default {
    background-color: #e51c23;
}
.container {
    background-color: whitesmoke;
    padding:3px 5px 2px 5px;
}


/**************************************************/
.center {
    margin-top: 50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

    .modal-footer .btn-group button {
        height: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
        border-right: 1px solid #ddd;
    }

    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    margin: 20px 20px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

